.chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
        
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1000px;
        width: 100%;
    }

    &__inner {
        padding: 20px 20px 15px 20px;
        width: 100%;
        border: 1px solid #333;
        height: calc(100vh - 180px);
        overflow-y: auto;
        margin-bottom: 10px;
    }

    &__type {
        display: flex;
        width: 100%;
    }

    &__message {

        &_author {
            font-weight: 800;
            font-family: 'Podkova', sans-serif;
            font-size: 14px;
        }

        &_text {
            font-family: 'Podkova', sans-serif;
        }

        &_own {
            position: relative;
            max-width: 600px;
            word-wrap: break-word;
            border: 1px solid #333;
            margin-left: auto;
            padding: 5px 8px 12px;
            margin-bottom: 5px;
            width: fit-content;

            &_date {
                position: absolute;
                bottom: 0;
                right: 2px;
                font-family: 'Podkova', sans-serif;
                font-size: 12px;
            }
        }

        &_foreign {
            position: relative;
            max-width: 600px;
            word-wrap: break-word;
            border: 1px dashed #333;
            padding: 5px 8px 12px;
            margin-bottom: 5px;
            width: fit-content;

            &_date {
                position: absolute;
                bottom: 0;
                right: 2px;
                font-family: 'Podkova', sans-serif;
                font-size: 12px;
            }
        }
    }

    &__input {
        width: 100%;
        border: 1px solid #333;
        border-radius: 0;
        margin-right: 10px;
        font-family: 'Podkova', sans-serif;
    }
}

@media (max-width: 700px) {

    .chat {
        padding: 0px 20px;

        &__inner {
            height: calc(100vh - 170px);
            padding: 12px 12px 7px 12px;
        }

        &__message {
    
            &_own {
                max-width: 400px;
                padding: 3px 7px 10px;
    
                &_date {
                    font-size: 12px;
                }
            }
    
            &_foreign {
                max-width: 400px;
                padding: 3px 7px 10px;
    
                &_date {
                    font-size: 12px;
                }
            }
        }
    
        &__input {
            width: 100%;
            border: 1px solid #333;
            border-radius: 0;
            margin-right: 10px;
            font-family: 'Podkova', sans-serif;
        }
    }
}

@media (max-width: 500px) {
    .chat {
    
        &__inner {
            height: calc(100vh - 160px);
            padding: 10px 10px 7px 10px;
        }
    
        &__message {
    
            font-size: 14px;
    
            &_author {
                font-size: 12px;
            }
    
            &_text {
                font-size: 14px;
            }
    
            &_own {
                max-width: 300px;
                padding: 3px 5px 8px;
                margin-bottom: 3px;
    
                &_date {
                    right: 1px;
                    font-size: 10px;
                }
            }
    
            &_foreign {
                max-width: 300px;
                padding: 3px 5px 8px;
                margin-bottom: 3px;
    
                &_date {
                    right: 1px;
                    font-size: 10px;
                }
            }
        }
    
        &__input {
            width: 100%;
            border: 1px solid #333;
            border-radius: 0;
            margin-right: 10px;
            font-family: 'Podkova', sans-serif;
        }
    }
    
}

@media (max-width: 374px) {
    .chat {
        &__message {
            &_own {
                max-width: 250px;
            }
    
            &_foreign {
                max-width: 250px;
            }
        }
    }
}
    